openai
langchain
python-dotenv
langchain-openai
pypdf
langchain-community
beautifulsoup4
faiss-cpu
langchain-text-splitters
langchainhub
pandas
yfinance
matplotlib
git+https://github.com/openai/swarm.git
python-dotenv